<footer class="footer">
    <div class="content has-text-centered">
        <p>
            <strong>我的Blog</strong> by BEDIDI Fawzi. Plz pay me a kookie.
        </p>
    </div>
</footer>
</body>
</html>
